.pt-1 {
  padding-top: 1%;
}
.pt-2 {
  padding-top: 2%;
}
.pt-3 {
  padding-top: 3%;
}
.pt-4 {
  padding-top: 4%;
}
.pt-5 {
  padding-top: 5%;
}
.pt-6 {
  padding-top: 6%;
}
.pt-7 {
  padding-top: 7%;
}
.pt-8 {
  padding-top: 8%;
}
.pt-9 {
  padding-top: 9%;
}
.pt-10 {
  padding-top: 10%;
}
.pb-1 {
  padding-bottom: 1%;
}
.pb-2 {
  padding-bottom: 2%;
}
.pb-3 {
  padding-bottom: 3%;
}
.pb-4 {
  padding-bottom: 4%;
}
.pb-5 {
  padding-bottom: 5%;
}
.pb-6 {
  padding-bottom: 6%;
}
.pb-7 {
  padding-bottom: 7%;
}
.pb-8 {
  padding-bottom: 8%;
}
.pb-9 {
  padding-bottom: 9%;
}
.pb-10 {
  padding-bottom: 10%;
}
.pl-1 {
  padding-left: 1%;
}
.pl-2 {
  padding-left: 2%;
}
.pl-3 {
  padding-left: 3%;
}
.pl-4 {
  padding-left: 4%;
}
.pl-5 {
  padding-left: 5%;
}
.pl-6 {
  padding-left: 6%;
}
.pl-7 {
  padding-left: 7%;
}
.pl-8 {
  padding-left: 8%;
}
.pl-9 {
  padding-left: 9%;
}
.pl-10 {
  padding-left: 10%;
}
.pr-1 {
  padding-right: 1%;
}
.pr-2 {
  padding-right: 2%;
}
.pr-3 {
  padding-right: 3%;
}
.pr-4 {
  padding-right: 4%;
}
.pr-5 {
  padding-right: 5%;
}
.pr-6 {
  padding-right: 6%;
}
.pr-7 {
  padding-right: 7%;
}
.pr-8 {
  padding-right: 8%;
}
.pr-9 {
  padding-right: 9%;
}
.pr-10 {
  padding-right: 10%;
}
.mt-1 {
  margin-top: 1%;
}
.mt-2 {
  margin-top: 2%;
}
.mt-3 {
  margin-top: 3%;
}
.mt-4 {
  margin-top: 4%;
}
.mt-5 {
  margin-top: 5%;
}
.mt-6 {
  margin-top: 6%;
}
.mt-7 {
  margin-top: 7%;
}
.mt-8 {
  margin-top: 8%;
}
.mt-9 {
  margin-top: 9%;
}
.mt-10 {
  margin-top: 10%;
}
.mb-1 {
  margin-bottom: 1%;
}
.mb-2 {
  margin-bottom: 2%;
}
.mb-3 {
  margin-bottom: 3%;
}
.mb-4 {
  margin-bottom: 4%;
}
.mb-5 {
  margin-bottom: 5%;
}
.mb-6 {
  margin-bottom: 6%;
}
.mb-7 {
  margin-bottom: 7%;
}
.mb-8 {
  margin-bottom: 8%;
}
.mb-9 {
  margin-bottom: 9%;
}
.mb-10 {
  margin-bottom: 10%;
}
.ml-1 {
  margin-left: 1%;
}
.ml-2 {
  margin-left: 2%;
}
.ml-3 {
  margin-left: 3%;
}
.ml-4 {
  margin-left: 4%;
}
.ml-5 {
  margin-left: 5%;
}
.ml-6 {
  margin-left: 6%;
}
.ml-7 {
  margin-left: 7%;
}
.ml-8 {
  margin-left: 8%;
}
.ml-9 {
  margin-left: 9%;
}
.ml-10 {
  margin-left: 10%;
}
.mr-1 {
  margin-right: 1%;
}
.mr-2 {
  margin-right: 2%;
}
.mr-3 {
  margin-right: 3%;
}
.mr-4 {
  margin-right: 4%;
}
.mr-5 {
  margin-right: 5%;
}
.mr-6 {
  margin-right: 6%;
}
.mr-7 {
  margin-right: 7%;
}
.mr-8 {
  margin-right: 8%;
}
.mr-9 {
  margin-right: 9%;
}
.mr-10 {
  margin-right: 10%;
}
.fs-1 {
  font-size: 1%;
}
.fs-2 {
  font-size: 2%;
}
.fs-3 {
  font-size: 3%;
}
.fs-4 {
  font-size: 4%;
}
.fs-5 {
  font-size: 5%;
}
.fs-6 {
  font-size: 6%;
}
.fs-7 {
  font-size: 7%;
}
.fs-8 {
  font-size: 8%;
}
.fs-9 {
  font-size: 9%;
}
.fs-10 {
  font-size: 10%;
}
.fs-11 {
  font-size: 11%;
}
.fs-12 {
  font-size: 12%;
}
.fs-13 {
  font-size: 13%;
}
.fs-14 {
  font-size: 14%;
}
.fs-15 {
  font-size: 15%;
}
.fs-16 {
  font-size: 16%;
}
.fs-17 {
  font-size: 17%;
}
.fs-18 {
  font-size: 18%;
}
.fs-19 {
  font-size: 19%;
}
.fs-20 {
  font-size: 20%;
}
.fs-21 {
  font-size: 21%;
}
.fs-22 {
  font-size: 22%;
}
.fs-23 {
  font-size: 23%;
}
.fs-24 {
  font-size: 24%;
}
.fs-25 {
  font-size: 25%;
}
.fs-26 {
  font-size: 26%;
}
.fs-27 {
  font-size: 27%;
}
.fs-28 {
  font-size: 28%;
}
.fs-29 {
  font-size: 29%;
}
.fs-30 {
  font-size: 30%;
}
.fs-31 {
  font-size: 31%;
}
.fs-32 {
  font-size: 32%;
}
.fs-33 {
  font-size: 33%;
}
.fs-34 {
  font-size: 34%;
}
.fs-35 {
  font-size: 35%;
}
.fs-36 {
  font-size: 36%;
}
.fs-37 {
  font-size: 37%;
}
.fs-38 {
  font-size: 38%;
}
.fs-39 {
  font-size: 39%;
}
.fs-40 {
  font-size: 40%;
}
.fs-41 {
  font-size: 41%;
}
.fs-42 {
  font-size: 42%;
}
.fs-43 {
  font-size: 43%;
}
.fs-44 {
  font-size: 44%;
}
.fs-45 {
  font-size: 45%;
}
.fs-46 {
  font-size: 46%;
}
.fs-47 {
  font-size: 47%;
}
.fs-48 {
  font-size: 48%;
}
.fs-49 {
  font-size: 49%;
}
.fs-50 {
  font-size: 50%;
}
.fs-51 {
  font-size: 51%;
}
.fs-52 {
  font-size: 52%;
}
.fs-53 {
  font-size: 53%;
}
.fs-54 {
  font-size: 54%;
}
.fs-55 {
  font-size: 55%;
}
.fs-56 {
  font-size: 56%;
}
.fs-57 {
  font-size: 57%;
}
.fs-58 {
  font-size: 58%;
}
.fs-59 {
  font-size: 59%;
}
.fs-60 {
  font-size: 60%;
}
.fs-61 {
  font-size: 61%;
}
.fs-62 {
  font-size: 62%;
}
.fs-63 {
  font-size: 63%;
}
.fs-64 {
  font-size: 64%;
}
.fs-65 {
  font-size: 65%;
}
.fs-66 {
  font-size: 66%;
}
.fs-67 {
  font-size: 67%;
}
.fs-68 {
  font-size: 68%;
}
.fs-69 {
  font-size: 69%;
}
.fs-70 {
  font-size: 70%;
}
.fs-71 {
  font-size: 71%;
}
.fs-72 {
  font-size: 72%;
}
.fs-73 {
  font-size: 73%;
}
.fs-74 {
  font-size: 74%;
}
.fs-75 {
  font-size: 75%;
}
.fs-76 {
  font-size: 76%;
}
.fs-77 {
  font-size: 77%;
}
.fs-78 {
  font-size: 78%;
}
.fs-79 {
  font-size: 79%;
}
.fs-80 {
  font-size: 80%;
}
.fs-81 {
  font-size: 81%;
}
.fs-82 {
  font-size: 82%;
}
.fs-83 {
  font-size: 83%;
}
.fs-84 {
  font-size: 84%;
}
.fs-85 {
  font-size: 85%;
}
.fs-86 {
  font-size: 86%;
}
.fs-87 {
  font-size: 87%;
}
.fs-88 {
  font-size: 88%;
}
.fs-89 {
  font-size: 89%;
}
.fs-90 {
  font-size: 90%;
}
.fs-91 {
  font-size: 91%;
}
.fs-92 {
  font-size: 92%;
}
.fs-93 {
  font-size: 93%;
}
.fs-94 {
  font-size: 94%;
}
.fs-95 {
  font-size: 95%;
}
.fs-96 {
  font-size: 96%;
}
.fs-97 {
  font-size: 97%;
}
.fs-98 {
  font-size: 98%;
}
.fs-99 {
  font-size: 99%;
}
.fs-100 {
  font-size: 100%;
}
.fs-101 {
  font-size: 101%;
}
.fs-102 {
  font-size: 102%;
}
.fs-103 {
  font-size: 103%;
}
.fs-104 {
  font-size: 104%;
}
.fs-105 {
  font-size: 105%;
}
.fs-106 {
  font-size: 106%;
}
.fs-107 {
  font-size: 107%;
}
.fs-108 {
  font-size: 108%;
}
.fs-109 {
  font-size: 109%;
}
.fs-110 {
  font-size: 110%;
}
.fs-111 {
  font-size: 111%;
}
.fs-112 {
  font-size: 112%;
}
.fs-113 {
  font-size: 113%;
}
.fs-114 {
  font-size: 114%;
}
.fs-115 {
  font-size: 115%;
}
.fs-116 {
  font-size: 116%;
}
.fs-117 {
  font-size: 117%;
}
.fs-118 {
  font-size: 118%;
}
.fs-119 {
  font-size: 119%;
}
.fs-120 {
  font-size: 120%;
}
.fs-121 {
  font-size: 121%;
}
.fs-122 {
  font-size: 122%;
}
.fs-123 {
  font-size: 123%;
}
.fs-124 {
  font-size: 124%;
}
.fs-125 {
  font-size: 125%;
}
.fs-126 {
  font-size: 126%;
}
.fs-127 {
  font-size: 127%;
}
.fs-128 {
  font-size: 128%;
}
.fs-129 {
  font-size: 129%;
}
.fs-130 {
  font-size: 130%;
}
.fs-131 {
  font-size: 131%;
}
.fs-132 {
  font-size: 132%;
}
.fs-133 {
  font-size: 133%;
}
.fs-134 {
  font-size: 134%;
}
.fs-135 {
  font-size: 135%;
}
.fs-136 {
  font-size: 136%;
}
.fs-137 {
  font-size: 137%;
}
.fs-138 {
  font-size: 138%;
}
.fs-139 {
  font-size: 139%;
}
.fs-140 {
  font-size: 140%;
}
.fs-141 {
  font-size: 141%;
}
.fs-142 {
  font-size: 142%;
}
.fs-143 {
  font-size: 143%;
}
.fs-144 {
  font-size: 144%;
}
.fs-145 {
  font-size: 145%;
}
.fs-146 {
  font-size: 146%;
}
.fs-147 {
  font-size: 147%;
}
.fs-148 {
  font-size: 148%;
}
.fs-149 {
  font-size: 149%;
}
.fs-150 {
  font-size: 150%;
}
.fs-151 {
  font-size: 151%;
}
.fs-152 {
  font-size: 152%;
}
.fs-153 {
  font-size: 153%;
}
.fs-154 {
  font-size: 154%;
}
.fs-155 {
  font-size: 155%;
}
.fs-156 {
  font-size: 156%;
}
.fs-157 {
  font-size: 157%;
}
.fs-158 {
  font-size: 158%;
}
.fs-159 {
  font-size: 159%;
}
.fs-160 {
  font-size: 160%;
}
.fs-161 {
  font-size: 161%;
}
.fs-162 {
  font-size: 162%;
}
.fs-163 {
  font-size: 163%;
}
.fs-164 {
  font-size: 164%;
}
.fs-165 {
  font-size: 165%;
}
.fs-166 {
  font-size: 166%;
}
.fs-167 {
  font-size: 167%;
}
.fs-168 {
  font-size: 168%;
}
.fs-169 {
  font-size: 169%;
}
.fs-170 {
  font-size: 170%;
}
.fs-171 {
  font-size: 171%;
}
.fs-172 {
  font-size: 172%;
}
.fs-173 {
  font-size: 173%;
}
.fs-174 {
  font-size: 174%;
}
.fs-175 {
  font-size: 175%;
}
.fs-176 {
  font-size: 176%;
}
.fs-177 {
  font-size: 177%;
}
.fs-178 {
  font-size: 178%;
}
.fs-179 {
  font-size: 179%;
}
.fs-180 {
  font-size: 180%;
}
.fs-181 {
  font-size: 181%;
}
.fs-182 {
  font-size: 182%;
}
.fs-183 {
  font-size: 183%;
}
.fs-184 {
  font-size: 184%;
}
.fs-185 {
  font-size: 185%;
}
.fs-186 {
  font-size: 186%;
}
.fs-187 {
  font-size: 187%;
}
.fs-188 {
  font-size: 188%;
}
.fs-189 {
  font-size: 189%;
}
.fs-190 {
  font-size: 190%;
}
.fs-191 {
  font-size: 191%;
}
.fs-192 {
  font-size: 192%;
}
.fs-193 {
  font-size: 193%;
}
.fs-194 {
  font-size: 194%;
}
.fs-195 {
  font-size: 195%;
}
.fs-196 {
  font-size: 196%;
}
.fs-197 {
  font-size: 197%;
}
.fs-198 {
  font-size: 198%;
}
.fs-199 {
  font-size: 199%;
}
.fs-200 {
  font-size: 200%;
}
.fs-201 {
  font-size: 201%;
}
.fs-202 {
  font-size: 202%;
}
.fs-203 {
  font-size: 203%;
}
.fs-204 {
  font-size: 204%;
}
.fs-205 {
  font-size: 205%;
}
.fs-206 {
  font-size: 206%;
}
.fs-207 {
  font-size: 207%;
}
.fs-208 {
  font-size: 208%;
}
.fs-209 {
  font-size: 209%;
}
.fs-210 {
  font-size: 210%;
}
.fs-211 {
  font-size: 211%;
}
.fs-212 {
  font-size: 212%;
}
.fs-213 {
  font-size: 213%;
}
.fs-214 {
  font-size: 214%;
}
.fs-215 {
  font-size: 215%;
}
.fs-216 {
  font-size: 216%;
}
.fs-217 {
  font-size: 217%;
}
.fs-218 {
  font-size: 218%;
}
.fs-219 {
  font-size: 219%;
}
.fs-220 {
  font-size: 220%;
}
.fs-221 {
  font-size: 221%;
}
.fs-222 {
  font-size: 222%;
}
.fs-223 {
  font-size: 223%;
}
.fs-224 {
  font-size: 224%;
}
.fs-225 {
  font-size: 225%;
}
.fs-226 {
  font-size: 226%;
}
.fs-227 {
  font-size: 227%;
}
.fs-228 {
  font-size: 228%;
}
.fs-229 {
  font-size: 229%;
}
.fs-230 {
  font-size: 230%;
}
.fs-231 {
  font-size: 231%;
}
.fs-232 {
  font-size: 232%;
}
.fs-233 {
  font-size: 233%;
}
.fs-234 {
  font-size: 234%;
}
.fs-235 {
  font-size: 235%;
}
.fs-236 {
  font-size: 236%;
}
.fs-237 {
  font-size: 237%;
}
.fs-238 {
  font-size: 238%;
}
.fs-239 {
  font-size: 239%;
}
.fs-240 {
  font-size: 240%;
}
.fs-241 {
  font-size: 241%;
}
.fs-242 {
  font-size: 242%;
}
.fs-243 {
  font-size: 243%;
}
.fs-244 {
  font-size: 244%;
}
.fs-245 {
  font-size: 245%;
}
.fs-246 {
  font-size: 246%;
}
.fs-247 {
  font-size: 247%;
}
.fs-248 {
  font-size: 248%;
}
.fs-249 {
  font-size: 249%;
}
.fs-250 {
  font-size: 250%;
}
.fs-251 {
  font-size: 251%;
}
.fs-252 {
  font-size: 252%;
}
.fs-253 {
  font-size: 253%;
}
.fs-254 {
  font-size: 254%;
}
.fs-255 {
  font-size: 255%;
}
.fs-256 {
  font-size: 256%;
}
.fs-257 {
  font-size: 257%;
}
.fs-258 {
  font-size: 258%;
}
.fs-259 {
  font-size: 259%;
}
.fs-260 {
  font-size: 260%;
}
.fs-261 {
  font-size: 261%;
}
.fs-262 {
  font-size: 262%;
}
.fs-263 {
  font-size: 263%;
}
.fs-264 {
  font-size: 264%;
}
.fs-265 {
  font-size: 265%;
}
.fs-266 {
  font-size: 266%;
}
.fs-267 {
  font-size: 267%;
}
.fs-268 {
  font-size: 268%;
}
.fs-269 {
  font-size: 269%;
}
.fs-270 {
  font-size: 270%;
}
.fs-271 {
  font-size: 271%;
}
.fs-272 {
  font-size: 272%;
}
.fs-273 {
  font-size: 273%;
}
.fs-274 {
  font-size: 274%;
}
.fs-275 {
  font-size: 275%;
}
.fs-276 {
  font-size: 276%;
}
.fs-277 {
  font-size: 277%;
}
.fs-278 {
  font-size: 278%;
}
.fs-279 {
  font-size: 279%;
}
.fs-280 {
  font-size: 280%;
}
.fs-281 {
  font-size: 281%;
}
.fs-282 {
  font-size: 282%;
}
.fs-283 {
  font-size: 283%;
}
.fs-284 {
  font-size: 284%;
}
.fs-285 {
  font-size: 285%;
}
.fs-286 {
  font-size: 286%;
}
.fs-287 {
  font-size: 287%;
}
.fs-288 {
  font-size: 288%;
}
.fs-289 {
  font-size: 289%;
}
.fs-290 {
  font-size: 290%;
}
.fs-291 {
  font-size: 291%;
}
.fs-292 {
  font-size: 292%;
}
.fs-293 {
  font-size: 293%;
}
.fs-294 {
  font-size: 294%;
}
.fs-295 {
  font-size: 295%;
}
.fs-296 {
  font-size: 296%;
}
.fs-297 {
  font-size: 297%;
}
.fs-298 {
  font-size: 298%;
}
.fs-299 {
  font-size: 299%;
}
.fs-300 {
  font-size: 300%;
}
.fs-301 {
  font-size: 301%;
}
.fs-302 {
  font-size: 302%;
}
.fs-303 {
  font-size: 303%;
}
.fs-304 {
  font-size: 304%;
}
.fs-305 {
  font-size: 305%;
}
.fs-306 {
  font-size: 306%;
}
.fs-307 {
  font-size: 307%;
}
.fs-308 {
  font-size: 308%;
}
.fs-309 {
  font-size: 309%;
}
.fs-310 {
  font-size: 310%;
}
.fs-311 {
  font-size: 311%;
}
.fs-312 {
  font-size: 312%;
}
.fs-313 {
  font-size: 313%;
}
.fs-314 {
  font-size: 314%;
}
.fs-315 {
  font-size: 315%;
}
.fs-316 {
  font-size: 316%;
}
.fs-317 {
  font-size: 317%;
}
.fs-318 {
  font-size: 318%;
}
.fs-319 {
  font-size: 319%;
}
.fs-320 {
  font-size: 320%;
}
.fs-321 {
  font-size: 321%;
}
.fs-322 {
  font-size: 322%;
}
.fs-323 {
  font-size: 323%;
}
.fs-324 {
  font-size: 324%;
}
.fs-325 {
  font-size: 325%;
}
.fs-326 {
  font-size: 326%;
}
.fs-327 {
  font-size: 327%;
}
.fs-328 {
  font-size: 328%;
}
.fs-329 {
  font-size: 329%;
}
.fs-330 {
  font-size: 330%;
}
.fs-331 {
  font-size: 331%;
}
.fs-332 {
  font-size: 332%;
}
.fs-333 {
  font-size: 333%;
}
.fs-334 {
  font-size: 334%;
}
.fs-335 {
  font-size: 335%;
}
.fs-336 {
  font-size: 336%;
}
.fs-337 {
  font-size: 337%;
}
.fs-338 {
  font-size: 338%;
}
.fs-339 {
  font-size: 339%;
}
.fs-340 {
  font-size: 340%;
}
.fs-341 {
  font-size: 341%;
}
.fs-342 {
  font-size: 342%;
}
.fs-343 {
  font-size: 343%;
}
.fs-344 {
  font-size: 344%;
}
.fs-345 {
  font-size: 345%;
}
.fs-346 {
  font-size: 346%;
}
.fs-347 {
  font-size: 347%;
}
.fs-348 {
  font-size: 348%;
}
.fs-349 {
  font-size: 349%;
}
.fs-350 {
  font-size: 350%;
}
.fs-351 {
  font-size: 351%;
}
.fs-352 {
  font-size: 352%;
}
.fs-353 {
  font-size: 353%;
}
.fs-354 {
  font-size: 354%;
}
.fs-355 {
  font-size: 355%;
}
.fs-356 {
  font-size: 356%;
}
.fs-357 {
  font-size: 357%;
}
.fs-358 {
  font-size: 358%;
}
.fs-359 {
  font-size: 359%;
}
.fs-360 {
  font-size: 360%;
}
.fs-361 {
  font-size: 361%;
}
.fs-362 {
  font-size: 362%;
}
.fs-363 {
  font-size: 363%;
}
.fs-364 {
  font-size: 364%;
}
.fs-365 {
  font-size: 365%;
}
.fs-366 {
  font-size: 366%;
}
.fs-367 {
  font-size: 367%;
}
.fs-368 {
  font-size: 368%;
}
.fs-369 {
  font-size: 369%;
}
.fs-370 {
  font-size: 370%;
}
.fs-371 {
  font-size: 371%;
}
.fs-372 {
  font-size: 372%;
}
.fs-373 {
  font-size: 373%;
}
.fs-374 {
  font-size: 374%;
}
.fs-375 {
  font-size: 375%;
}
.fs-376 {
  font-size: 376%;
}
.fs-377 {
  font-size: 377%;
}
.fs-378 {
  font-size: 378%;
}
.fs-379 {
  font-size: 379%;
}
.fs-380 {
  font-size: 380%;
}
.fs-381 {
  font-size: 381%;
}
.fs-382 {
  font-size: 382%;
}
.fs-383 {
  font-size: 383%;
}
.fs-384 {
  font-size: 384%;
}
.fs-385 {
  font-size: 385%;
}
.fs-386 {
  font-size: 386%;
}
.fs-387 {
  font-size: 387%;
}
.fs-388 {
  font-size: 388%;
}
.fs-389 {
  font-size: 389%;
}
.fs-390 {
  font-size: 390%;
}
.fs-391 {
  font-size: 391%;
}
.fs-392 {
  font-size: 392%;
}
.fs-393 {
  font-size: 393%;
}
.fs-394 {
  font-size: 394%;
}
.fs-395 {
  font-size: 395%;
}
.fs-396 {
  font-size: 396%;
}
.fs-397 {
  font-size: 397%;
}
.fs-398 {
  font-size: 398%;
}
.fs-399 {
  font-size: 399%;
}
.fs-400 {
  font-size: 400%;
}
.m-1 {
  margin: 1%;
}
.m-2 {
  margin: 2%;
}
.m-3 {
  margin: 3%;
}
.m-4 {
  margin: 4%;
}
.m-5 {
  margin: 5%;
}
.m-6 {
  margin: 6%;
}
.m-7 {
  margin: 7%;
}
.m-8 {
  margin: 8%;
}
.m-9 {
  margin: 9%;
}
.m-10 {
  margin: 10%;
}
.mv-1 {
  margin-top: 1%;
}
.mv-2 {
  margin-top: 2%;
}
.mv-3 {
  margin-top: 3%;
}
.mv-4 {
  margin-top: 4%;
}
.mv-5 {
  margin-top: 5%;
}
.mv-6 {
  margin-top: 6%;
}
.mv-7 {
  margin-top: 7%;
}
.mv-8 {
  margin-top: 8%;
}
.mv-9 {
  margin-top: 9%;
}
.mv-10 {
  margin-top: 10%;
}
.mv-1 {
  margin-bottom: 1%;
}
.mv-2 {
  margin-bottom: 2%;
}
.mv-3 {
  margin-bottom: 3%;
}
.mv-4 {
  margin-bottom: 4%;
}
.mv-5 {
  margin-bottom: 5%;
}
.mv-6 {
  margin-bottom: 6%;
}
.mv-7 {
  margin-bottom: 7%;
}
.mv-8 {
  margin-bottom: 8%;
}
.mv-9 {
  margin-bottom: 9%;
}
.mv-10 {
  margin-bottom: 10%;
}
.p-1 {
  padding: 1%;
}
.p-2 {
  padding: 2%;
}
.p-3 {
  padding: 3%;
}
.p-4 {
  padding: 4%;
}
.p-5 {
  padding: 5%;
}
.p-6 {
  padding: 6%;
}
.p-7 {
  padding: 7%;
}
.p-8 {
  padding: 8%;
}
.p-9 {
  padding: 9%;
}
.p-10 {
  padding: 10%;
}
