{% load static %}
{% load gtranslate %}
{% load recaptcha2 %}
<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" 
        href="https://lh3.googleusercontent.com/xYIyIRszLpnqJ8Um4T4s_Djt-jrarl8u8hGOQ2MhLTcG-N4wvH9FUvcdfE6mTLk0rbVEp2Z9YvTQmHdRXBVm002ZsG3mFKtc7AEitdXJlTEcW3jep8UDFQ30G6NHQnHnmPfleCIwn9nv4nUcpCdIC-I-b6z9QGCmA1cstPAD5PqXTOZkzS5E_47NFdh9rtpjSn7ia8afUK0uO628hWdvZrA78MvVWGvlm2i2tj7AXVZZXDgHIy79R3RyZCnf_nPfjQLGldTVOHKaMxoAzUtgRMDe-FFL6ITVniHfakoBwE1OiOVGyNwo5tN6LJR5Ef03VMa-_Rft_kwSS3yXlvUAiiM3he91H0amG6EGbkZfYMpJ5OfSknsL5MPvKn_beZpzMwvycwf2bHXpLYdZuri_x2mvLXMLefCFQM9gLOpNfZdzKVBNURyO3PUVeQppDQa1LXWC8Nz21enaaELuObZ6wufrSByHlv0CnBZOdNhD3qMFKw2kTmqA3z1vVmd483W5Gax9oWBDjdlpgNNy7Gl4Sn_GRQbjWc4hfaGUsyke3DpwsmH7-FwtWZGvXH0fbHgh9N13p-kIpQzJQ-mSAsIj8mrVJ_NJQy7qJnVb8wE=w178-h128-no"
    >
    <link rel="icon" type="image/gif" href="https://audio-sequence.github.io/iwt.gif" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Changa|Amiri|Tajawal" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/spacing.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        window.addEventListener('load', function (e) {
            document.getElementsByClassName('itsLoading')[0].classList.add('hide')
            tagReady()
            $('#contactForm').attr('action', '//formspree.io/' + 'freequem' + '@' + 'gmail' + '.' + 'com')
            if (window.location.href.indexOf('#thanks') !== -1) $('.thanks').toggleClass('hidden')
            if ($('.toScrollMsg').length) $('html, body').animate({scrollTop: $('.toScrollMsg').offset().top}, 1000)
            if ($('#change_password').length && !$('.change_password').hasClass('hidden')) $('html, body').animate({scrollTop: $('#change_password').offset().top}, 1000)
            "{{to_activate}}".split(',').forEach(function (e, i) { $(e).addClass('active') })
        })
    </script>
    {% recaptcha_explicit_support %}
    {% recaptcha_init %}
  </head>
  <body>
    <div class="header wooden-shadow ">
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-1 pt-3">
                <div class="col-xs-12 mt-2">
                    <center>
                        <img src="https://audio-sequence.github.io/iwt.gif" alt="Animated logo" class="img-responsive effect logo mv-2"
                            data-toggle="tooltip" data-placement="top" title="{% gtranslate 'View a demo' request.session.lang cache=True %}"
                            onclick="window.open('https://audio-sequence.github.io/iwt_preview.gif', '_blank');"
                        >
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class="col-xs-12">
                    <p class='header-font h2 text-center inner-shadow-text default'>
                        {% gtranslate 'Click or Touch on the word or sentence' request.session.lang cache=True %} :
                    </p>
                </div>
                <div class="col-xs-12">
                    <div class="woodened">
                        <div class='h1 splitIt'>
                            {{ bypassed_stuff }}
                        </div>
                        <div style="text-align: center;">
                            <span class="fa fa-2x fa-headphones effect-text inner-shadow-text"
                                data-toggle="tooltip" data-placement="top" title="{% gtranslate 'read all the text' request.session.lang cache=True %}"
                                onclick="readTranAll('.splitIt', false)"
                            ></span>
                            <span class="fa fa-2x fa-language effect-text inner-shadow-text"
                                data-toggle="tooltip" data-placement="top" title="{% gtranslate 'translate all the text' request.session.lang cache=True %}"
                                onclick="readTranAll('.splitIt', true);"
                            ></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pt-3">
                    <form onchange="tagReady()">
                        <div class="col-xs-6">
                            <label for="readLang" class="inner-shadow-text fs-120">{% gtranslate 'Reading in' request.session.lang cache=True %}:</label>
                            <select id="readLang" name="readLang" class="form-control text-center">
                                <option value="en-us">{% gtranslate 'American English' request.session.lang cache=True %}</option>
                                <option value="en-uk">{% gtranslate 'British English' request.session.lang cache=True %}</option>
                                <option value="en-au">{% gtranslate 'Australian English' request.session.lang cache=True %}</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="tranLang" class="inner-shadow-text fs-120">{% gtranslate 'Translating to' request.session.lang cache=True %}:</label>
                            <select id="tranLang" name="tranLang" class="form-control text-center">
                                <option value="fr">{% gtranslate 'French' request.session.lang cache=True %}</option>
                                <option value="en">{% gtranslate 'English' request.session.lang cache=True %}</option>
                                <option value="ar">{% gtranslate 'Arabic' request.session.lang cache=True %}</option>
                                <option value="it">{% gtranslate 'Italian' request.session.lang cache=True %}</option>
                                <option value="es">{% gtranslate 'Spanish' request.session.lang cache=True %}</option>
                            </select>
                        </div>
                        <div class="col-xs-6 mt-2">
                            <label for="actEvent" class="inner-shadow-text fs-120">{% gtranslate 'Read when' request.session.lang cache=True %}:</label>
                            <select id="actEvent" name="actEvent" class="form-control text-center">
                                <option value="click">{% gtranslate 'Click or Touch' request.session.lang cache=True %}</option>
                                <option value="mouseover">{% gtranslate 'Mouse over' request.session.lang cache=True %}</option>
                            </select>
                        </div>
                        <div class="col-xs-6 mt-2">
                            <label for="divider" class="inner-shadow-text fs-120">{% gtranslate 'Process with' request.session.lang cache=True %}:</label>
                            <select id="divider" name="language" class="form-control text-center">
                                <option value=".">{% gtranslate 'Full sentence' request.session.lang cache=True %}</option>
                                <option value=".;,">{% gtranslate 'Partial sentence' request.session.lang cache=True %}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row text-center">
            <div class="col-xs-12" >
                <center>
                    <img src="https://audio-sequence.github.io/iwt.gif" width='20%' style="transform: rotate(0);" alt="Animated logo" class="img-responsive effect logo"
                        onclick="window.open('https://audio-sequence.github.io/iwt_preview.gif', '_blank');"
                    >
                </center>
            </div>
        </div>
        {% endif %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown" id='sorting'>
                        <a href="#" class="dropdown-toggle strong" data-toggle="dropdown">{% gtranslate 'Sort text by' request.session.lang cache=True %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='recent'><a href="/texts_sorted/newest">{% gtranslate 'Recent' request.session.lang cache=True %}</a></li>
                            <li id='oldest'><a href="/texts_sorted/oldest">{% gtranslate 'Oldest' request.session.lang cache=True %}</a></li>
                            <li id='mostViewed'><a href="/texts_sorted/mostViewed">{% gtranslate 'Most viewed' request.session.lang cache=True %}</a></li>
                            <li id='leastViewed'><a href="/texts_sorted/leastViewed">{% gtranslate 'Lest viewed' request.session.lang cache=True %}</a></li>
                            <li id='mostShared'><a href="/texts_sorted/mostShared">{% gtranslate 'Most shared' request.session.lang cache=True %}</a></li>
                            <li id='leastShared'><a href="/texts_sorted/leastShared">{% gtranslate 'Least shared' request.session.lang cache=True %}</a></li>
                        </ul>
                    </li>
                    <li id='allTexts'><a href="/texts">{% gtranslate 'Texts' request.session.lang cache=True %}</a></li>
                    {% if user.username != 'Anonymous' %}
                    <li id='yourTexts'><a href="/texts_sorted/{{ user.id }}">{% gtranslate 'Your texts' request.session.lang cache=True %}</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-left" role="search" method="POST" action="/search_text">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type='text' name='text' placeholder="{% gtranslate 'Keywords to search for' request.session.lang cache=True %} ..." class='form-control'>
                    </div>
                    <button type="submit" class="btn btn-default header-font strong">{% gtranslate 'Search' request.session.lang cache=True %}</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li id='addText'><a href="/adding_text">{% gtranslate 'Add text' request.session.lang cache=True %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle strong" data-toggle="dropdown">{% gtranslate 'Languages' request.session.lang cache=True %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='english' class="{% if request.session.lang == 'en' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'en' %} window.location = '/lang_switch/en/' + get_org() {% endif %}">
                                    <span class='fa fa-globe'></span>  {% gtranslate 'English' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='arabic' class="{% if request.session.lang == 'ar' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'ar' %} window.location = '/lang_switch/ar/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Arabic' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='french' class="{% if request.session.lang == 'fr' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'fr' %} window.location = '/lang_switch/fr/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'French' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='italian' class="{% if request.session.lang == 'it' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'it' %} window.location = '/lang_switch/it/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Italian' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='spanish' class="{% if request.session.lang == 'es' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'es' %} window.location = '/lang_switch/es/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Spanish' request.session.lang cache=True %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle strong" data-toggle="dropdown"> ({{ user.username }}) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if user.username != 'Anonymous' %}
                            <li id='changePassword'><a onclick="$('.change_password').toggleClass('hidden');$('#changePassword').toggleClass('active');"><span class='fa fa-pencil'></span> {% gtranslate 'Change password' request.session.lang cache=True %}</a></li>
                            <li id='deleteAccount'><a onclick="$('#delete').modal();"><span class='fa fa-trash'></span> {% gtranslate 'Delete account' request.session.lang cache=True %}</a></li>
                            {% endif %}
                            <li><a href="/logout_all"><span class='fa fa-sign-out'></span> {% gtranslate 'Logout' request.session.lang cache=True %}</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle strong" data-toggle="dropdown">{% gtranslate 'Languages' request.session.lang cache=True %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id='english' class="{% if request.session.lang == 'en' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'en' %} window.location = '/lang_switch/en/' + get_org() {% endif %}">
                                    <span class='fa fa-globe'></span>  {% gtranslate 'English' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='arabic' class="{% if request.session.lang == 'ar' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'ar' %} window.location = '/lang_switch/ar/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Arabic' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='french' class="{% if request.session.lang == 'fr' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'fr' %} window.location = '/lang_switch/fr/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'French' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='italian' class="{% if request.session.lang == 'it' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'it' %} window.location = '/lang_switch/it/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Italian' request.session.lang cache=True %}
                                </a>
                            </li>
                            <li id='spanish' class="{% if request.session.lang == 'es' %} active {% endif %}">
                                <a onclick="{% if request.session.lang != 'es' %} window.location = '/lang_switch/es/' + get_org() {% endif %}">
                                    <span class='fa fa-language'></span>  {% gtranslate 'Spanish' request.session.lang cache=True %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row hidden thanks">
            <div class="alertp-{{m.tags}} toScrollMsg">
                <div class="alert alert-info alert-dismissable default">
                    <button class="close" type="button" data-dismiss="alert"
                    onclick="$(this).parent().parent().parent().remove();">&times;</button>
                    <h3 class="text text-center header-font"> [ <strong>Info</strong>: Thanks for contacting us, will get back to you ASAP ]</h3>
                </div>
            </div>
        </div>
        {% if messages %}
        {% for m in messages %}
            <div class="row">
                <div class="alertp-{{m.tags}} toScrollMsg">
                    <div class="alert alert-{{m.tags}} alert-dismissable default">
                        <button class="close" type="button" data-dismiss="alert"
                        onclick="$(this).parent().parent().parent().remove();">&times;</button>
                        <h3 class="text text-center header-font"> [ <strong>{% gtranslate m.tags.capitalize|strify request.session.lang cache=True %}</strong>: {% gtranslate m|strify request.session.lang cache=True %} ]</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.username != 'Anonymous' %}
            <div class='row change_password hidden'>
                <div class="col-xs-12 alert m-2">
                    <form method='POST' action='/change_password' id='change_password'>
                        {% csrf_token %}
                        {{ form_register.non_field_errors }}
                        <div class='form-group'>
                            {{ form_password.password.errors }}
                            <label class='inner-shadow-text fs-130' for='{{ form_password.password.id_for_label }}'>{% gtranslate 'Enter new password' request.session.lang cache=True %}:</label>
                            <input type='password' name='password' class='form-control' placeholder="{% gtranslate 'Your new password' request.session.lang cache=True %}...">
                        </div>
                        <p class="h2 main-font inner-shadow-text effect-text pull-right" style='cursor: pointer;'
                            onclick="$('#change_password').submit()"
                        >
                        {% gtranslate 'Update' request.session.lang cache=True %}
                        </p>
                    </form>
                </div>
            </div>
        {% endif %}
        {% endif %}
        {% block sibling_content %}{% endblock %}
    </div>
    <div class="footer wooden-shadow">
        <div class="row hidden contactUs">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
                <form id="contactForm" onchange="if (!window.oldStoredForm) { window.oldStoredForm = $(this).serialize() };" method='POST'>
                    <div class="form-group">
                        <label for="name" class="inner-shadow-text fs-130 pull-left">{% gtranslate 'Enter your name' request.session.lang cache=True %}:</label>
                        <input name="name" type="text" placeholder="{% gtranslate 'Your name' request.session.lang cache=True %}" id="name" class="form-control inner-shadow">
                    </div>
                    <div class="form-group">
                        <label for="email" class="inner-shadow-text fs-130 pull-left">{% gtranslate 'Enter your Email' request.session.lang cache=True %}:</label>
                        <input type="email" name="email" placeholder="example@gmail.com" id="email" class="form-control inner-shadow">
                    </div>
                    <div class="form-group">
                        <label for="msg" class="inner-shadow-text fs-130 pull-left">{% gtranslate 'Enter your message' request.session.lang cache=True %}:</label><br />
                        <textarea name="msg" id="msg" cols="30" class="form-control inner-shadow header-font" rows="10" placeholder="{% gtranslate 'Hello dear developer' request.session.lang cache=True %} ..."></textarea>
                    </div>
                    <input type="hidden" name="_subject" value="IWT support" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_next" value="//iwt.serveo.net/#thanks" />
                </form>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
                <div class="col-xs-4 pull-left">
                    <p class="h2 main-font inner-shadow-text effect-text" style='cursor: pointer;'
                        onclick="$('.contactUs').toggleClass('hidden'); $('.toUnBeat').toggleClass('beatit')"
                    >{% gtranslate 'Cancel' request.session.lang cache=True %}</p>
                </div>
                <div class="col-xs-4 pull-right">
                    <p class="h2 main-font inner-shadow-text effect-text" style='cursor: pointer;'
                        onclick="$('.toUnBeat').toggleClass('beatit'); if (window.oldStoredForm && window.oldStoredForm !== $('#contactForm').serialize()) { $('#contactForm').submit() } else { $('.contactUs').toggleClass('hidden') };"
                    >{% gtranslate 'Send' request.session.lang cache=True %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7 text-center default">
                <p class='header-font h3 inner-shadow-text'>Powered by Python and Django</p>
                <p class='header-font h3 inner-shadow-text' style='display: block;'>&copy; Since 2018 with love</p>
            </div>
            <div class="col-xs-4 text-center pt-1">
                <div class="col-xs-12 text-center pb-3 shareUs hidden">
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-share fa-facebook-official"
                            data-toggle="tooltip" data-placement="top" title="Facebook"
                            onclick="window.open('https://www.facebook.com/sharer.php?u=' + window.location.origin, '_blank')"
                        ></span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-share fa-linkedin-square"
                            data-toggle="tooltip" data-placement="top" title="Linkedin"
                            onclick="window.open('http://www.linkedin.com/shareArticle?mini=cache=True&amp;url=' + window.location.origin, '_blank')"
                        ></span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-share fa-google-plus-square"
                            data-toggle="tooltip" data-placement="top" title="Google+"
                            onclick="window.open('https://plus.google.com/share?url=' + window.location.origin, '_blank')"
                        ></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-text fa-heart"
                            data-toggle="tooltip" data-placement="top" title="{% gtranslate 'Share us with others' request.session.lang cache=True %}"
                            onclick="$(this).toggleClass('beatit'); $('.shareUs').hasClass('hidden') ? $('.shareUs').animate({'opacity': '1'}).removeClass('hidden') : $('.shareUs').addClass('hidden'); $(document).scrollTop($(document).height())"
                        ></span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-text fa-github"
                            data-toggle="tooltip" data-placement="top" title="{% gtranslate 'Source-code' request.session.lang cache=True %}"
                            onclick="window.open('https://github.com/mrf345/IWT', '_blank')"
                        ></span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span class="fa fa-5x effect-text fa-envelope toUnBeat"
                            data-toggle="tooltip" data-placement="top" title="{% gtranslate 'Contact us' request.session.lang cache=True %}"
                            onclick="$(this).toggleClass('beatit'); $('.contactUs').toggleClass('hidden');$(document).scrollTop($(document).height());"
                        ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Refresh icon to be removed onload -->
    <div class="itsLoading">
        <span class="fa fa-5x fa-refresh fa-spin inner-shadow-text-primary"></span>
    </div>
    {% if user.is_authenticated %}
    <div class="modal fade default" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                     aria-hidden="cache=True" style='color: white;'
                    >&times;</button>
                    <p class="modal-title text-center h3">{% gtranslate 'Delete your account' request.session.lang cache=True %}</p>
                </div>
                <div class="modal-body">
                    <h1>{% gtranslate 'Are you sure, you want to delete this account and all of its texts ?' request.session.lang cache=True %}</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-modal fs-120 pull-left" data-dismiss="modal">{% gtranslate 'Cancel' request.session.lang cache=True %}</button>
                    <button type="button" class="btn btn-default btn-modal fs-120" 
                    onclick="window.location = '/delete'">{% gtranslate 'Delete' request.session.lang cache=True %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'exFunctions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/NicEdit/0.93/nicEdit.min.js"></script>
    </body>
</html>