{% extends "base.html" %}
{% block sibling_content %}
{% load gtranslate %}
<noscript>
  <meta http-equiv="refresh" content="0;url=/nojs">
</noscript>
<div class="row options">
    <div class="row">
        <div class="col-xs-12">
            <p class='header-font text-center h1 default'>{% gtranslate 'Create and share an interactive text' request.session.lang cache=True %}:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class='header-font text-center h3 default'>
                {% gtranslate "You're a step away from creating your interactive text, this step is necessary in order to generate speech and translation. If you're already a registered user, please" request.session.lang cache=True %}
                 [ <a onclick="$('#mainLogin').modal();">{% gtranslate 'Login' request.session.lang cache=True %}</a> ]
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1 mt-4 main-font effect-item woodened-item-primary"
            onclick="$('#anyLogin').modal();"
        >
            <div class='text-center'>
                <span class='fa fa-3x fa-eraser inner-shadow-text-primary'></span>
                <p class='h2 header-font inner-shadow-text-primary'>{% gtranslate 'Anonymous' request.session.lang cache=True %}</p>
            </div>
            <p class='fs-160'>
                <span class='fa fa-check inner-shadow-text-primary'></span>{% gtranslate 'Read any public text' request.session.lang cache=True %}<br>
                <span class='fa fa-check inner-shadow-text-primary'></span>{% gtranslate 'Write and share public text' request.session.lang cache=True %}<br>
                <span class='fa fa-times inner-shadow-text-primary'></span>{% gtranslate 'Cannot delete or modify any text' request.session.lang cache=True %}<br>
            </p>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2 mt-4 main-font effect-item woodened-item"
            onclick="$('#mainRegister').modal();"
        >
            <div class='text-center'>
                <span class='fa fa-3x fa-database inner-shadow-text'></span>
                <p class='h2 header-font inner-shadow-text'>{% gtranslate 'Registered' request.session.lang cache=True %}</p>
            </div>
            <p class='fs-160'>
                <span class='fa fa-check inner-shadow-text'></span>{% gtranslate 'Read any public text' request.session.lang cache=True %}<br>
                <span class='fa fa-check inner-shadow-text'></span>{% gtranslate 'Write public and private text' request.session.lang cache=True %}<br>
                <span class='fa fa-check inner-shadow-text'></span>{% gtranslate 'Edit and delete shared text' request.session.lang cache=True %}<br>
            </p>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-xs-12 mt-5">
            <p class='header-font text-center h1 default'>{% gtranslate 'About this project' request.session.lang cache=True %} :</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class='header-font text-center h3 default'>
                {% gtranslate 'It is a free open-source project based on Python Django. cool open-source Python packages used in its making' request.session.lang cache=True %}:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 mr-3 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/django/django', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >Django</strong>
                        {% gtranslate 'Infamous Python backend development framework, for fast and modular development.' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 mr-3 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/pndurette/gTTS', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >gTTS</strong>
                        {% gtranslate 'Python library and CLI tool to interface with Google text-to-speech API' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 mr-2 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/ssut/py-googletrans', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >Googletrans</strong>
                        {% gtranslate 'Free and Unlimited Google translate API for Python.' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 mr-3 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/kbytesys/django-recaptcha2', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >Django-reCaptcha2</strong>
                        {% gtranslate 'Extension implements a recaptcha field for Google reCaptcha v2.' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 mr-3 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/mrf345/django_gtts', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >Django-gTTS</strong>
                        {% gtranslate 'Extension to add google text-to-speech to Django template and cache it.' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 mr-2 mt-4 mb-1">
            <div class="alertp-error effect-item">
                <div class="alertp-error alert text-center"
                    onclick="window.open('https://github.com/mrf345/django_gtranslate', '_blank');"
                >
                    <span class="fa fa-3x fa-github"></span>
                    <h3 class="text main-font">
                        <strong
                            style='display: block;'
                            class='mb-10 header-font'
                        >Django-Gtranslate</strong>
                        {% gtranslate 'Extension to add google translation to Django template and cache it.' request.session.lang cache=True %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade default" id="anyLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                 aria-hidden="true" style='color: white;'
                >&times;</button>
                <p class="modal-title text-center h3">{% gtranslate 'Anonymous login' request.session.lang cache=True %}</p>
            </div>
            <form method="POST" action='/login_any'>
                {% csrf_token %}
                <div class="modal-body">
                    <center class='mb-3'>
                        {{ form_any.captcha }}
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-modal fs-120 pull-left" data-dismiss="modal">{% gtranslate 'Cancel' request.session.lang cache=True %}</button>
                    <button type="submit" class="btn btn-default btn-modal fs-120">{% gtranslate 'Login' request.session.lang cache=True %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade default" id="mainLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                 aria-hidden="true" style='color: white;'
                >&times;</button>
                <p class="modal-title text-center h3">{% gtranslate 'User login' request.session.lang cache=True %}</p>
            </div>
            <form method="POST" action='/login_main'>
                {% csrf_token %}
                <div class="modal-body">
                    <center>
                        {{ form_main.non_field_errors }}
                        <div class="form-group">
                            {{ form_main.email.errors }}
                            <label for='{{ form_main.email.id_for_label }}'>
                                {% gtranslate 'Enter your email' request.session.lang cache=True %}: 
                            </label>
                            {{ form_main.email }}
                        </div>
                        <div class="form-group">
                            {{ form_main.password.errors }}
                            <label for='{{ form_main.password.id_for_label }}'>
                                {% gtranslate 'Enter your password' request.session.lang cache=True %}: 
                            </label>
                            {{ form_main.password }}
                        </div>
                        {{ form_main.captcha }}
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-modal fs-120 pull-left" data-dismiss="modal">{% gtranslate 'Cancel' request.session.lang cache=True %}</button>
                    <button type="submit" class="btn btn-default btn-modal fs-120">{% gtranslate 'Login' request.session.lang cache=True %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade default" id="mainRegister">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                 aria-hidden="true" style='color: white;'
                >&times;</button>
                <p class="modal-title text-center h3">{% gtranslate 'Register user' request.session.lang cache=True %}</p>
            </div>
            <form method="POST" action='/register_main'>
                {% csrf_token %}
                <div class="modal-body">
                    <center>
                        {{ form_register.non_field_errors }}
                        <div class="form-group">
                            {{ form_register.username.errors }}
                            <label for='{{ form_register.username.id_for_label }}'>
                                {% gtranslate 'Enter your username' request.session.lang cache=True %}: 
                            </label>
                            {{ form_register.username }}
                        </div>
                        <div class="form-group">
                            {{ form_register.email.errors }}
                            <label for='{{ form_register.email.id_for_label }}'>
                                    {% gtranslate 'Enter your email' request.session.lang cache=True %}: 
                            </label>
                            {{ form_register.email }}
                        </div>
                        <div class="form-group">
                            {{ form_register.password.errors }}
                            <label for='{{ form_register.password.id_for_label }}'>
                                    {% gtranslate 'Enter your password' request.session.lang cache=True %}:
                            </label>
                            {{ form_register.password }}
                        </div>
                        {{ form_register.captcha }}
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-modal fs-120 pull-left" data-dismiss="modal">{% gtranslate 'Cancel' request.session.lang cache=True %}</button>
                    <button type="submit" class="btn btn-default btn-modal fs-120">{% gtranslate 'Register' request.session.lang cache=True %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}